@model IEnumerable<Libary.ViewModels.Reader_Violated>
<div class="col-sm-12 col-xl-6">
    <div class="bg-light rounded h-100 p-4">
        <h6 class="mb-4">Readers Violated</h6>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">User ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Due Date</th>
                    <th scope="col">Number of Book Borrow</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                <th scope="row">@item.userID</th>
                <td>@item.name</td>
                <td>@item.DueDate</td>
                <td>@item.numberBookHire</td>
                <td style="padding:10px;">@item.idBill.ToString()<a class="btn btn-sm btn-primary" style="margin-left: 20px;">Detail</a></td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>