@model IEnumerable<Libary.ViewModels.relatedProduct_ViewModels>
@foreach (var item in Model)
{
    <div class="border rounded position-relative vesitable-item col-9">
        <div class="vesitable-img">
            <a asp-action="Detail" asp-controller="listBook" asp-route-id="@item.idBook">
            <img src="@item.picturebook" class="img-fluid w-100 rounded-top" alt="">
            </a>
        </div>
        <div class="text-white bg-primary px-3 py-1 rounded position-absolute" style="top: 10px; right: 10px;">@item.nameCategory</div>
        <div class="p-4 pb-0 border  border-secondary border-top-0 rounded-bottom">
            <a asp-action="Detail" asp-controller="listBook" asp-route-id="@item.idBook">
            <h4>@item.nameBook</h4>
            </a>
            <div class="d-flex justify-content-between flex-lg-wrap">
                <a href="#" class="btn border border-secondary rounded-pill px-3 py-1 mb-4 text-primary"><i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart</a>
            </div>
        </div>
    </div>
}