@using X.PagedList.Mvc.Core
@model IEnumerable<Libary.ViewModels.listBook_ViewModels>
    @if (Model != null)
    {
        @foreach (var item in Model)
        {
            <div class="col-md-3 col-lg-2 col-xl-2 pt-5">
                <div class="rounded position-relative fruite-item">
                    <div class="fruite-img">
                        <a asp-action="Detail" asp-controller="listBook" asp-route-id="@item.idBook">
                            <img src="~/img/@item.pictureBook" class="img-fluid w-100 rounded-top" style="height :400px;" alt="">
                        </a>
                    </div>
                    <div class="text-white bg-secondary px-3 py-1 rounded position-absolute" style="top: 10px; left: 10px;">@item.nameCategory</div>
                    <div class="px-4 pt-4 pb-5 border border-secondary border-top-0 rounded-bottom" style="height: 30%">
                        <a asp-action="Detail" asp-controller="listBook" asp-route-id="@item.idBook">
                            <h4 style="height:100%;">
                                @item.nameBook
                            </h4>
                        </a>
                        <div class="d-flex justify-content-between flex-lg-wrap">
                            <p class="text-dark fs-5 fw-bold mb-0"> @item.numberBook</p>
                        <form asp-action="addOrderCart" asp-controller="Cart">
                                <button class="AddToCart_Btn btn border border-secondary rounded-pill px-3 text-primary">
                                    <i class="fa fa-shopping-bag me-2 text-primary"></i>
                                    Add to cart
                                </button>
                        </form>

                        </div>
                    </div>
                </div>
            </div>
        }
    }

    


