@using X.PagedList.Mvc.Core
@model IEnumerable<Libary.ViewModels.listBook_ViewModels>
    @if (Model != null)
    {
        @foreach (var item in Model)
        {   
            @* Parent div Book card *@
            <div class="col-md-3 col-lg-2 col-xl-2 pt-5">
                @* Child div Book card *@
                <div class="rounded position-relative fruite-item">
                    @* Image book card *@
                    <div class="fruite-img">
                        <a asp-action="Detail" asp-controller="listBook" asp-route-id="@item.idBook">
                            <img src="~/img/@item.pictureBook" class="img-fluid w-100 rounded-top" style="height :400px;" alt="">
                        </a>
                    </div>

                    <div class="text-white bg-secondary px-3 py-1 rounded position-absolute" style="top: 10px; left: 10px;">@item.nameCategory</div>

                    @* footer book card *@
                    <div class="p-4 border border-secondary border-top-0 rounded-bottom" style="height: 30%;">
                        <a asp-action="Detail" asp-controller="listBook" asp-route-id="@item.idBook">
                            <h4>
                                @item.nameBook
                            </h4>
                        </a>
                        <div class="justify-content-between flex-lg-wrap">
                            <p class="text-dark fs-5 fw-bold"> @item.numberBook</p>
                            <a href="#" class="btn border border-secondary rounded-pill px-3 text-primary"><i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    }


