@model Libary.ViewModels.informationProducts_ViewModels
@{
    ViewData["Title"] = "Detail";
    Layout = "_layoutCustomer";
}
<!-- Single Product Start -->
    <div class="container-fluid" style="padding-top:100px;">
        <div class="container">
            <div class="row g-4 mb-5">
                <div class="col-lg-8 col-xl-12">
                    <div class="row g-4">
                        <div class="col-lg-4">
                            <div class="border rounded">
                                <a href="#">
                                    <img src="~/img/@Model.pictureBook" class="img-fluid rounded" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-6 ">
                            <h4 class="fw-bold mb-3">@Model.nameBook</h4>
                        <nav class="navbar navbar-light bg-white ">
                        <div class="navbar-nav" >
                                <a  asp-action="categoryBook" asp-controller="listBook" asp-route-query="@Model.nameCategory" style="color:#747d88;" >
                                    <p class="fw-bold mb-3 nav-link" style="padding:0px;">Category: @Model.nameCategory</p>
                                </a>
                        </div>
                        </nav>
                        <nav class="navbar navbar-light bg-white ">
                            <div class="navbar-nav">
                                <a asp-action="searchs" asp-controller="listBook" asp-route-query="@Model.nameAuthor" style="color:#747d88;">
                            <p class="fw-bold mb-3 nav-link" style="padding:0px;">Author: @Model.nameAuthor</p>
                        </a>
                            </div>
                        </nav>
                            <p class="fw-bold mb-3">Publication Year: @Model.PublicationYearBook</p>
                            <h5 class="fw-bold mb-3">Inventory : @Model.numberBook</h5>
                            <p class="mb-4">@Model.contentBook</p>
                            <div class="input-group quantity mb-5" style="width: 100px;">
                                <div class="input-group-btn">
                                    <button class="btn btn-sm btn-minus rounded-circle bg-light border">
                                        <i class="fa fa-minus"></i>
                                    </button>
                                </div>
                                <input type="text" class="form-control form-control-sm text-center border-0" value="1">
                                <div class="input-group-btn">
                                    <button class="btn btn-sm btn-plus rounded-circle bg-light border">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                            <a href="#" class="AddToCart_Btn btn border border-secondary rounded-pill px-4 py-2 mb-4 text-primary"><i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart</a>
                        </div>
                    </div>
                </div>  
            </div>
        </div>
    <h1 class="fw-bold mb-0">Related products</h1>
    <div class="vesitable">
        <div class="owl-carousel vegetable-carousel justify-content-center">
            @await Component.InvokeAsync("Related", @Model.nameAuthor)
        </div>
    </div>
    </div>

<script src="~/js/site.js" asp-append-version="true"></script>

<!-- Single Product End -->
