@{
    ViewData["Title"] = "addToCart";
    Layout = "_LayoutCustomer";
}
@{
    string idbill = "";
    int? totalMoney = 0;
    @foreach(var item in Model)
    {
        totalMoney += item.money * item.numberBookRental;
    }
}
@model IEnumerable<Libary.ViewModels.cart_ViewModels>
<!-- Cart Page Start -->
        <div class="container-fluid py-5">
            <div class="container py-5">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">Products</th>
                            <th scope="col">Name</th>
                            <th scope="col">Price</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Total</th>
                            <th scope="col">Handle</th>
                          </tr>
                        </thead>
                        <tbody>
                    @foreach(var item in Model)
                    {
                        idbill = item.idbill;
                        <tr>
                            <th scope="row">
                                <div class="d-flex align-items-center">
                                    <img src="~/img/@item.pictureBook" class="img-fluid me-5 rounded-circle" style="width: 80px; height: 80px;" alt="">
                                </div>
                            </th>
                            <td>
                                <p class="mb-0 mt-4">@item.nameBook</p>
                            </td>
                            <td>
                                <p class="mb-0 mt-4">@item.money $</p>
                            </td>
                            <td>
                                <div class="input-group quantity mt-4" style="width: 100px;">
                                    <div class="input-group-btn">
                                        <form asp-action="plus_minusBook" asp-controller="Cart" asp-route-numberBook="@(item.numberBookRental - 1)" asp-route-idBillInfor="@item.idbillinfor">
                                            <button class="btn btn-sm btn-minus rounded-circle bg-light border">
                                                <i class="fa fa-minus"></i>
                                            </button>
                                        </form>
                                    </div>
                                    <input type="text" class="form-control form-control-sm text-center border-0" value="@item.numberBookRental">
                                    <div class="input-group-btn">
                                        <form asp-action="plus_minusBook" asp-controller="Cart" asp-route-numberBook="@(item.numberBookRental + 1)" asp-route-idBillInfor="@item.idbillinfor">
                                            <button class="btn btn-sm btn-plus rounded-circle bg-light border">
                                                <i class="fa fa-plus"></i>
                                            </button>
                                        </form>

                                    </div>
                                </div>
                            </td>
                            <td>
                                <p class="mb-0 mt-4">@(item.numberBookRental * item.money)$</p>
                            </td>
                            <td>
                                <form asp-action="removeAddCart" asp-controller="Cart" asp-route-idBillInfor="@item.idbillinfor">
                                    <button class="btn btn-md rounded-circle bg-light border mt-4">
                                        <i class="fa fa-times text-danger"></i>
                                    </button>
                                </form>

                            </td>

                        </tr>
                    }

                        </tbody>
                    </table>
                </div>
            <div class="col-md-12 d-flex justify-content-end">
                @* <form asp-action="actionOder" asp-controller="Cart" asp-route-idBill="@idbill"> *@
                <button class="btn border-secondary rounded-pill px-4 py-3 text-primary" data-bs-toggle="modal" data-bs-target="#addCart" type="button">Oder</button>
@*                 </form> *@
                </div>
            </div>
    <!-- Cart Page End -->
    <!-- Notify Start -->
            <div class="modal fade" id="addCart" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-fullscreen">
                    <div class="modal-content rounded-0">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel"></h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="row modal-body d-flex align-items-center">
                            <div class="input-group w-75 mx-auto d-flex">
                                <div class="container-fluid pt-4 px-4">
                                        <div class="col-sm-12 col-xl-12">
                                            <div class="bg-light rounded h-100 p-4">
                                                <h6 class="mb-4">Confirm Your Order</h6>
                                                <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">Name Book</th>
                                                        <th scope="col">Amount</th>
                                                        <th scope="col">Price</th>
                                                        <th scope="col">Total</th>
                                                    </tr>
                                                </thead>
                                            @foreach(var item in Model)
                                            {
                                                <tbody>
                                                    <tr>
                                                        <td>@item.nameBook</td>
                                                        <td>@item.numberBookRental</td>
                                                        <td>@item.money$</td>
                                                        <td>@(item.numberBookRental * item.money)$</td>
                                                    </tr>
                                                </tbody>
                                            } 
                                            </table>
                                    </div>
                                    <div class="row">
                                        <label style="color: black; text-align:end;">Total Price : @totalMoney$</label>
                                    </div>
                                    <div class="row">
                                    <h9 style="color:black;"> <a style="color:red;">(*)</a> Your ID Order is <a style="color:red;">@idbill</a> (Give Libarian when hire books)</h9>
                                    </div>
                                </div>
                            </div>
                            <form asp-action="actionOder" asp-controller="Cart" asp-route-idBill="@idbill">
                                <div class="input-group-append pt-4 px-4">
                                    <button class="btn" type="submit" id="search-icon-1" style="background-color:#0dcaf059 ; height: 75px;width:100px;border-top-left-radius: 0px;border-bottom-left-radius: 0px;">
                                            Confirm   
                                    </button>
                                </div>
                            </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<!-- Notify end -->